<header>
  <nav class="nav-bar">
    <a class="link <%= linkPath === '/' ? 'active' : '' %>" href="/"
      >Add User</a
    >
    <a class="link <%= linkPath === '/users' ? 'active' : '' %>" href="/users"
      >Users List</a
    >
  </nav>
</header>
