<header>
  <nav class="nav-bar">
    <a class="link <%= linkPath === '/' ? 'active' : '' %>" href="/"
      >Add User</a
    >
    <a class="link <%= linkPath === '/users' ? 'active' : '' %>" href="/users"
      >Users List</a
    >
    <a
      class="link <%= linkPath === '/products' ? 'active' : '' %>"
      href="/products"
      >Products List</a
    >
    <a
      class="link <%= linkPath === '/add-product' ? 'active' : '' %>"
      href="/add-product"
      >Add Product</a
    >
  </nav>
</header>
