.nav-bar {
  background-color: rgb(32, 149, 81);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.link {
  text-decoration: none;
  font-size: medium;
  color: white;
  font-weight: bold;
}

.active {
  color: yellow;
}

.container-users {
  width: 100%;
  display: flex;
  justify-content: center;
}

.users-list {
  width: 60%;
  text-align: center;
  box-shadow: 2px 0px 2px slategray;
}

li {
  list-style-type: none;
}
